.LoginMain{
    align-self: center;
    justify-content: left;
    margin: auto;
    margin-top: 5%;
    background-color: skyblue;
    width: 35%;
    padding: 1%;
    padding-bottom: 2%;
    border: solid transparent;
    border-radius: 25px;
    overflow: hidden;
}

.LoginMain h1{
    margin: auto;
    text-align: left;
}

.LoginMain .LoginLabel{
    text-align: left;
    margin-bottom: 3%;
    margin-top: 5%;
}

.LoginMain .InputLabel, .UserInput, .LoginLabel{
    margin-left: 10%;
}

.LoginMain .UserInput{
    border: 1px solid white;
    min-height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 50px;
    width: 80%;
}

.LoginMain .LoginButton{
    margin: auto;
    border: 1px solid transparent;
    background-color: lightblue;
    color: white;
    width: 50%;
    text-align: center;
    min-width: 50px;
    min-height: 30px;
    font-weight: bold;
    margin-top: 3%;
    float:inline-end;
    margin-right: 9%;
}

.LoginMain .UserInput:focus{
    border: 1px solid lightskyblue;
}

.LoginMain .LoginButton:hover{
    cursor:pointer;
    border: 1px solid lightblue;
    background-color: lightsteelblue;
}

.LoginMain .Seperator{
    border: 1px solid white;
}